<section id="home" *ngIf="about" class="about-body">
  <div class="about-section">
    <h1 class="title">{{ "about.name" | translate }}</h1>
    <h2 class="subtitle">
      {{ "about.profession" | translate }}
    </h2>
    <p class="about-text">
      {{ "about.summary" | translate }}
    </p>
    <p class="about-text">
      {{ "about.summaryTwo" | translate }}
    </p>
    <p class="about-text">
      {{ "about.summaryThree" | translate }}
    </p>
    <p class="about-text">
      {{ "about.summaryFour" | translate }}
    </p>
    <p class="about-text"></p>
    {{ "about.summaryFive" | translate }}
    <p class="about-text"></p>
  </div>
</section>
