@if (navItems.length > 0) {

<p-menubar
  [model]="navItems"
  styleClass="custom-menubar"
  class="custom-menubar"
>
  <ng-template pTemplate="start">
    <img
      src="assets/logos/logo3.svg"
      alt="logo"
      class="logo"
      (click)="moveToSection()"
    />
  </ng-template>
  <ng-template pTemplate="item" let-item>
    <a (click)="item.command()" class="p-menuitem-link">
      <span [class]="item.icon" class="p-menuitem-icon"></span>
      <span class="p-menuitem-text">{{
        "navbar." + item.label | translate
      }}</span>
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="nav-icons">
      <a href="https://github.com/Rygk1" target="_blank" class="nav-icon">
        <i class="pi pi-github"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/rafael-gaitan"
        target="_blank"
        class="nav-icon"
      >
        <i class="pi pi-linkedin"></i>
      </a>
      <p-menu
        #langMenu
        [popup]="true"
        [model]="languageOptions"
        styleClass="custom-language-menu"
      ></p-menu>

      <button class="nav-icon" (click)="langMenu.toggle($event)">
        <i class="pi pi-language"></i>
      </button>
    </div>
  </ng-template>
</p-menubar>

}
