<section id="projects" class="projects-container">
  <h2 class="section-title">{{ "labels.projects" | translate }}</h2>
  <div class="p-grid">
    <div *ngFor="let project of projects" class="p-col-12 p-md-6">
      <div class="project-card-horizontal">
        <div class="project-image-wrapper" (click)="showGallery(project)">
          <ng-container *ngIf="project.type === 'web'; else mobileMockup">
            <!-- PC Mockup -->

            <div class="pc-mockup">
              <div class="pc-screen">
                <img
                  [src]="
                    'assets/images/' +
                    project.title.toLowerCase() +
                    '/' +
                    project.mainImage
                  "
                  class="project-image"
                />
              </div>
            </div>
          </ng-container>
          <ng-template #mobileMockup>
            <!-- Mobile Mockup -->
            <div class="mobile-space">
              <div class="mobile-mockup">
                <div class="mobile-screen">
                  <img
                    [src]="
                      'assets/images/' +
                      project.title.toLowerCase() +
                      '/' +
                      project.mainImage
                    "
                    class="project-mobile-image"
                  />
                </div>
              </div>
            </div>
          </ng-template>
        </div>
        <div class="project-card">
          <h3 class="project-title">
            <a
              [href]="project.link"
              target="_blank"
              rel="noopener noreferrer"
              class="project-link with-hover"
            >
              {{ project.title }}
              <i
                class="project-type-icon"
                [class]="
                  project.type === 'web' ? 'pi pi-desktop' : 'pi pi-mobile'
                "
                [title]="project.type"
              >
              </i>
            </a>

            <span *ngIf="project.link" class="project-link">
              <a
                class="project-technologies"
                [href]="project.link"
                target="_blank"
              >
                <p-chip label="Demo" styleClass="tech-chip"></p-chip>
              </a>
            </span>
          </h3>

          <p class="project-description">
            {{
              "projects." + project.title.toLowerCase() + ".description"
                | translate
            }}
          </p>

          <div class="project-technologies">
            <p-chip
              *ngFor="let tech of project.technologies"
              [image]="'assets/icons/' + tech.toLowerCase() + '.svg'"
              [label]="tech"
              styleClass="tech-chip"
            ></p-chip>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<p-galleria
  class="custom-galleria"
  [value]="displayedProjectImages"
  [(visible)]="displayGallery"
  [responsiveOptions]="responsiveOptions"
  [containerStyle]="{ 'max-width': '850px' }"
  [numVisible]="7"
  [circular]="true"
  [fullScreen]="true"
  [showItemNavigators]="true"
  [showThumbnails]="false"
>
  <ng-template pTemplate="item" let-item>
    <img
      [src]="'assets/images/' + projectTitle.toLowerCase() + '/' + item"
      style="width: 100%; display: block"
    />
  </ng-template>
</p-galleria>
